.Youtube {
	figure {
		background-color: gray;
	}

	h1 {
		width: 100%;
	}
	article {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		height: 100vh;

		.Box {
			width: 100%;
			display: flex;
			justify-content: space-between;

			.titBox {
				color: gray;
				width: 30%;
			}
			.conBox {
				min-height: 340px;
				width: 30%;
				font-size: 18px;
			}

			.picBox {
				width: 35%;
				height: 30vw;
				object-fit: cover;

				img {
					width: 100%;
					height: 100%;
					margin-bottom: 50px;
					object-fit: cover;
					transition: transform 0.5s;

					&:hover {
						transform: scale(1.2);
					}
				}
			}
		}
	}
}

.tablet,
.mobile {
	.Youtube {
		figure {
			background-color: gray;
		}
		.content {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			height: 100vh;

			h1 {
				width: 100%;
			}
			article {
				width: 20%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				p {
					color: gray;
				}
				.text {
					min-height: 340px;
				}

				.pic {
					width: 700%;
					height: 30vw;
					object-fit: cover;
					img {
						width: 100%;
						height: 100%;
						margin-bottom: 50px;
						object-fit: cover;
						transition: transform 0.5s;

						&:hover {
							transform: scale(1.2);
						}
					}
				}
			}
		}
	}
}
