.Youtube {
	figure {
		background-color: aqua;
	}
	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		height: 100vh;

		h1 {
			width: 100%;
		}
		article {
			width: 20%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			p {
				color: gray;
			}
			.text {
				min-height: 200px;
			}

			.pic {
				width: 700%;
				height: 30vw;
				object-fit: cover;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: transform 0.3s;

					&:hover {
						transform: scale(1.2);
					}
				}
			}
		}
	}
}
