.header {
	width: 100%;
	padding: 3vh 10vw;
	background-color: black;
	display: flex;
	justify-content: space-between;

	h1 {
		font-size: 1.5rem;
		//color: #333;
		color: var(--color1);
		color: white;
		margin-right: 10px;
	}

	ul {
		display: flex;
		gap: 4vw;
		align-items: center;
		font-size: 1rem;
		color: #888;
		margin-right: 200px;
		li {
			a.active {
				color: white;

				&:hover {
					color: white;
					transition: 0.5s;
				}
			}
		}
	}
}

.header.main {
	h1 {
		color: aqua;
	}
}

.header.sub {
	h1 {
		color: hotpink;
	}
}

.tablet,
.mobile {
	.header {
		ul {
			display: none;
		}
	}
}
