header {
	width: 70vw;
	padding: 0px 2px;
	height: 100px;
	border-bottom: 1px solid #aaa;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;

	h1 {
		font-size: 1.5rem;
		//color: #333;
		color: var(--color1);
		color: white;
		margin-right: 10px;
	}

	ul {
		display: flex;
		gap: 4vw;
		align-items: center;
		font-size: 1rem;
		color: #888;
		margin-right: 200px;
		li {
			a.active {
				color: white;

				&:hover {
					color: white;
					transition: 0.5s;
				}
			}
		}
	}
}

.header.main {
	h1 {
		color: aqua;
	}
}

.header.sub {
	h1 {
		color: hotpink;
	}
}

.tablet,
.mobile {
	.header {
		width: 80vw;
		ul {
			display: none;
		}
	}
}
