.Staff {
	figure {
		background-color: gray;
	}
	.memberBox {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		article {
			width: 25%;
			margin-bottom: 1rem;

			p {
				color: gray;
			}

			.pic {
				width: 100%;
				height: 30vw;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					//filter: grayscale(100%);
					transition: filter 0.5s;

					&:hover {
						filter: brightness(1.2);
					}
				}
			}

			h3 {
				margin-bottom: 10px;
			}
		}
	}
}

.tablet,
.mobile {
	.Staff {
		.memberBox {
			width: 100%;

			article {
				width: 48%;
			}
		}
	}
}
