.Contact {
	figure {
		background: gray;
	}
	.upperbox {
		width: 70vw;
		margin: 0px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		font-size: 15px;
		margin-bottom: 70px;

		.ha {
			.cha {
				text-align: left;
				margin-bottom: 10px;
				margin-top: 50px;
				border-bottom: 1px solid black;

				h2 {
					padding-bottom: 20px;
					margin-bottom: 10px;
				}
				.ck {
					h3 {
						margin-top: 40px;
						margin-bottom: 30px;
					}
					p {
						color: gray;
						margin-bottom: 70px;
					}
				}
			}
		}

		#mailBox {
			width: 50%;
			margin: 0px auto;
			margin-bottom: 100px;
			padding-left: 120px;
			margin-top: 50px;

			.upper {
				width: 100%;
				display: flex;
				margin-bottom: 50px;
				justify-content: space-between;

				label {
					font: bold 1rem/1 'arial';
					color: #555;
					margin-right: 20px;
					position: relative;
					top: 20px;
				}
				input[type='text'],
				input[type='email'] {
					border: none;
					padding: 10px 20px;
					border-bottom: 1px solid #555;
					margin-right: 50px;
					outline: none;
					transition: 0.5s;

					&:focus {
						background: lightcyan;
					}
				}
			}
			.lower {
				width: 100%;
				margin-bottom: 10px;

				label {
					display: block;
					margin-bottom: 5px;
					font: bold 1rem/1 'arial';
					color: #555;
				}
				textarea {
					width: 160%;
					padding: 10px;
					border: none;
					border-bottom: 1px solid #555;
					margin-right: 50px;
					resize: none;
					outline: none;
					transition: 0.5s;
					&:focus {
						background: lightcyan;
					}
				}
			}

			/*
			.btnSet {
				width: 100%;
				padding-right: 20px;
				display: flex;
				gap: 50px;
	
				input {
					display: block;
					height: 40px;
					background: transparent;
					border: 1px solid #666;
					font: 1rem/40px 'arial';
					color: #555;
					text-align: center;
				}
			}
			*/
		}
	}

	.container {
		width: 100%;
		height: 60vh;
		background: #111;
		position: relative;

		.map,
		.view {
			width: 100%;
			height: 100%;
			background: #111;
			position: absolute;
			top: 0;
			left: 0px;
			opacity: 0;
			z-index: 1;

			&.on {
				opacity: 1;
				z-index: 2;
			}
		}
	}

	ul {
		display: flex;
		gap: 20px;

		li {
			cursor: pointer;
		}

		li.on {
			color: hotpink;
		}
	}
}
